/*------------------- Features ------------------- */
.features-img {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  background: #f5f4fa;
  border-radius: 4px;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--first-text-color);
}
